<div class="row my-2">
    <div class="col-md-6">
        <h3>
            list of films
        </h3>
    </div>
    
    <section>
        <h3 class="text-center">statistiques</h3>
        <div class="col-md-6 m-auto  d-flex">
            <button (click)="openDialog()" class="btn btn-primary m-2 btn-sm">
                Top 5 des films les plus diffusés
            </button>
            
            <button (click)="openDialogRatio()" class="btn btn-primary m-2 btn-sm">
                Top 5 des films avec le meilleur ratio
            </button>
    
            <button (click)="openDialogRea()" class="btn btn-primary m-2 btn-sm">
                Top 5 des réalisateurs avec la meilleur moyenne de diffusion
            </button>
        </div>
        
    </section>
</div>

<div class="row mb-5">
    <div class="col-md-6 mx-auto">
        <div class="form-group">
            <label class="mb-2"> Recherche</label>
            <input id="label" (keyup)="searchFilms() " [(ngModel)]="searchText" placeholder="Nom du film .... Realisateur" type="text" class="form-control">

           <ul class="d-flex">
               <li class="m-3" *ngFor="let check of CheckBoxArray">
                   <input class="m-1" (change)="onChange($event)" value="{{check.nationalite}}" type="{{check.type}}">{{check.nationalite}}
               </li>
           </ul>
        </div>
    </div>
</div>
<div class="row">
    <table  class="table table-hover">
        <thead>
            <tr class="table-active">
                <th scoope="col">Name </th>
                <th scoope="col">realisateur</th>
                <th scoope="col"> annee de production </th>
                <th scoope="col"> nationalite </th>
                <th scoope="col"> derniere diffusion</th>
                <th scoope="col"> nb diffusion </th>
                <th scoope="col"> nb premiere partie </th>
                <th scoope="col"> moyenne de diffusion par an </th>
            </tr>
        </thead>
        <tbody *ngFor="let film of resultatFilms |
        paginate: { itemsPerPage: 10,currentPage: page,
        totalItems:lenghtTotal}">
            <tr>
                <td>{{film.nom}}</td>
                <td>{{film.realisateur}}</td>
                <td>{{film.annee_production}}</td>
                <td>{{film.nationalite}}</td>
                <td>{{film.derniere_diffusion}}</td>
                <td>{{film.nb_diffusion}}</td>
                <td>{{film.nb_premiere_partie}}</td>
                <td>{{film.moyenne_diffusion_par_an}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
